.wrapper {
    padding: 20px 10px;
}

.our-story {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    &-left {
        flex-basis: 30%;
        padding: 0 15px 15px 0;
        overflow: hidden;

        .image {
            border-radius: var(--radius-lg);
            box-shadow: 4px 4px 8px var(--box-shadow);
        }
    }

    &-right {
        flex-basis: 68%;
        padding-left: 30px;
        text-align: justify;
        line-height: 3rem;

        p {
            margin-top: 20px;
        }
    }
}

.support-container,
.our-team-container {
    background-color: var(--darkwhite);
    align-items: center;
    justify-content: space-evenly;
    border-radius: var(--radius-lg);
    box-shadow: 4px 4px 8px var(--box-shadow);
    margin-bottom: 50px;
}
.support-item {
    width: 220px;
    padding: 10px 0;

    p {
        line-height: 3rem;
    }

    .icon {
        width: 60px;
        height: 60px;
        background-color: var(--darkbrown);
        margin: auto;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: var(--secondary);
    }
    .support-content {
        margin-top: 20px;
        background-color: transparent;
        box-shadow: none;
    }
}

.our-team-title {
    text-align: center;
    font-style: italic;
    font-size: 4rem;
}

.our-team-container {
    background-color: unset;
    box-shadow: none;
}

.member {
    width: 320px;
    padding: 10px;
}
