@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Norican&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Norican&display=swap');

:root {
    --primary: #916264;
    --secondary: #f8f1e9;
    --brown: #8f4818;
    --darkbrown: #700230;
    --darkwhite: #fdf9f9;
    --lightpink: #ffe7e7;
    --box-shadow: #8b8b8b;

    //Default layout
    --default-layout-max-width: 1270px;
    --default-layout-padding: 15px;

    //Border Radius
    --radius-sm: 4px;
    --radius-md: 6px;
    --radius-lg: 8px;
    --radius-xl: 10px;
    --radius-xxl: 12px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--brown);

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
        background-color: #fff;
        border-radius: 4px;
    }
}

a {
    text-decoration: none;
    color: var(--primary);
}

//Class of Admin Layout
.bottom-line {
    width: calc(100% - 20px);
    height: 0.01rem;
    margin: auto;
    background-color: var(--primary);
}

.icon-btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.7rem;

    svg {
        cursor: pointer;
    }
}

.edit-icon {
    color: #059f56;
}

.remove-icon {
    color: #fd475d;
}
