.container {
    font-size: 2rem;
}

.row {
    padding: 0;
}

.item {
    // background-color: antiquewhite;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: calc(100% - 20px);
        border: 0.5px solid var(--primary);
        background-color: var(--primary);
        left: 10px;
        bottom: 0;
        padding: 0;
    }
}

.header {
    font-weight: 600;
}

.product {
    display: flex;
    align-items: center;
}

.image {
    width: 70px;
    border-radius: var(--radius-sm);
    overflow: hidden;
    margin-right: 10px;
}

.quantity {
    justify-content: center;
}

.quantity-inp {
    width: 100%;
    text-align: center;
}

.change-quantity-btn {
    padding: 15px 6px;
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.6rem;
}

.price {
    justify-content: flex-end;
}

.remove-btn,
.payment-btn {
    margin: auto;
}

.remove-btn {
    background-color: #fd475d;
}

.footer {
    display: flex;
    align-items: center;
}

.no-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100px;
}
