.image {
    position: relative;
    border-radius: var(--radius-md);
    overflow: hidden;
    box-shadow: 2px 2px 4px var(--box-shadow);
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;

    label {
        padding: 5px 15px;
        outline: 1px solid var(--primary);
        border-radius: var(--radius-sm);
        cursor: pointer;
        display: block;
        position: relative;
        overflow: hidden;
    }

    .disabled-size {
        opacity: 0.4;
        cursor: no-drop;
    }

    input {
        display: none;

        &:checked ~ label {
            &::before,
            &::after {
                content: '';
                position: absolute;
            }

            &::before {
                width: 25px;
                height: 25px;
                right: -12px;
                top: -12px;
                transform: rotate(45deg);
                background-color: var(--primary);
            }

            &::after {
                width: 12px;
                height: 4px;
                right: -4px;
                top: -3px;
                transform: rotate(-45deg);
                border-left: 2px solid var(--darkwhite);
                border-bottom: 2px solid var(--darkwhite);
            }
        }
    }
}
