.image {
    position: relative;
    border-radius: var(--radius-md);
    overflow: hidden;
    box-shadow: 2px 2px 4px var(--box-shadow);
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 20px;

    label {
        padding: 5px 15px;
        border: 1px solid var(--primary);
        border-radius: var(--radius-sm);
        cursor: pointer;
        display: inline-block;
    }

    .disabled-size {
        opacity: 0.4;
        cursor: no-drop;
    }

    input {
        display: none;

        &:checked ~ label {
            background-color: var(--secondary);
        }
    }
}
